.navbar-brand img {
    width: 70%;
}

.navbar-brand {
    width: 100px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 5px;
}

.jumbotron {
    margin-top: 20vh;
    background-color: rgba(238,238,238,0.9)
}

#map {
    height: 70vh;
    width: 100%;
}

.person {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

.desc {
    background-color: rgba(238, 238, 238, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    text-align: center;
}

.profilepic {
    height: 100px;
}

h3 {
    color: rgba(0, 0, 0, 1);
}

.profiledesc {
    color: rgba(112, 56, 56, 1);
}

.disclaimer {
    font-size: 10px;
}