.navbar-brand img {
    width: 70%;
}

.navbar-brand {
    width: 100px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 5px;
}

.jumbotron {
    margin-top: 20vh;
    background-color: rgba(238,238,238,0.9)
}

#map {
    height: 70vh;
    width: 92vw;
}