{% extends "layout.jinja2" %}
{% block title %}
GerryPy
{% endblock %}
{% block body %}
    <div class="container">
      <div class="jumbotron">
        <h1>GerryPy</h1>
        <p>Let the machines do the gerrymandering.</p>
      </div>
      <p>WOO.</p>
      <p>Get started.</p>
    </div>
    </div>
{% endblock %}