{% extends "layout.jinja2" %}
{% block title %}
GerryPy
{% endblock %}
{% block body %}
    <div class='container'>
        <div class="jumbotron">
            This is where the map might go
        </div>
    </div>
    <div class='container'>This is where the data might go</div>
{% endblock %}