{% extends "layout.jinja2" %}
{% block title %}
GerryPy
{% endblock %}
{% block nav_title %}<span>GerryPy</span>{% endblock %}
{% block body %}
    <div class='container'>
        <form id='mapform'>
            <div class='criteria'>
                <label>County Weight: </label>
                <select name='countyweight'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                </select>
                <br>
                <label>Compactness Weight: </label>
                <select name='compactweight'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                </select>
            </div>
            <input type="submit" class="btn btn-danger" value="Generate Districts">
            <br>
        </form>
        <div id="map"></div>
    </div>
    <script id='map-script' data-json={{ request.static_url('gerrypy:static/geo.json') }}>
        var map;
        function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 39, lng: -106},
          streetViewControl: false,
          styles: [
              {
                "featureType": "poi.park",
                "stylers": [
                  { "visibility": "off" }
                ]
              }
          ]
        });

        {% if geojson %}
        map.data.loadGeoJson("{{ request.static_url('gerrypy:static/geo.json') }}");

        map.data.setStyle(function(feature) {
          var color = feature.getProperty('color');
          return ({
            fillColor: color,
            strokeColor: color,
            strokeWeight: 1
          });
        });

        var contentString = '<div id="content">'+
          '<h4 id="districtid"></h4>'+
          '<h5 id="population"></h5>'+
          '<h5 id="area"></h5>'+
          '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        map.data.addListener('click', function(event) {
            var latitude = event.latLng.lat();
            var longitude = event.latLng.lng();
            infowindow.setPosition({lat: latitude, lng: longitude})
            infowindow.open(map);
            var $info = $('#content')
            $info.find('#districtid').text('District no. ' + event.feature.getProperty('id'))
            $info.find('#population').text('Population: ' + event.feature.getProperty('population').toLocaleString())
            $info.find('#area').html('Area: ' + (event.feature.getProperty('area') * 10000).toFixed(2) + ' km' + '2'.sup())
        });

        map.data.addListener('mouseover', function(event) {
          map.data.revertStyle();
          map.data.overrideStyle(event.feature, {strokeWeight: 2});
        });

        map.data.addListener('mouseout', function(event) {
          map.data.revertStyle();
        });
        {% endif %}
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0v-OlbUtrYA8OJbkwWkILPU9jHpDj6So&callback=initMap">
    </script>
{% endblock %}